doctype html
html
  head
    link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/readable/bootstrap.min.css", rel="stylesheet" integrity="sha256-xZf1oKvAz2ou2qhEduvwW4dDmGlmHADVup7mEqdKU6k= sha512-go0HHuJkbEVqGsIW4i045yNp9n/jCC5Dywtr9MmZ41n6h+tBhCLod4AvtLxrFp489K2KppmGbufl0iKnhMwcOQ==" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    link(rel="stylesheet",href="modifications.css")
  body
    a(href="/")
      div.logo.container.row-lg-1.push-top-4
        div.col-lg-12.center-block
          h1.text-center.text-black SquaTrack
    div.container
      div.row-lg-1.push-top-2
        a(href="/")
          div.col-md-1.col-md-offset-1.big-block.text-center.well
            h1.text-vert-center Deadlift
        a(href="/")
          div.col-md-1.col-md-offset-1.big-block.text-center.well
            h1.text-vert-center Squat
        a(href="/")
          div.col-md-1.col-md-offset-1.big-block.text-center.well
            h1.text-vert-center Bench Press
        